
.progress{
  height: 20px;
  width: 220px;
  border-radius: 20px;
  border: 1px solid grey;
  padding:3px;
 
}
.changable{
  height: 20px;
  width: 0px;
  opacity: 1;
  border-radius: 20px;
  background: green;
  text-align: center
  
}